.contactBox {
    position: absolute;
    width: 512px;
    height: 512px;
    background-color: #eee;
    border-radius: 4px;
    
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
.contactBox h1 {
    font-family: 'Lato';
    font-size: 28px;
    color: #444;
    padding: 5px 0px 0px 10px;
    margin: 0px 0px 0px 0px;

}

.contactBox p {
    font-family: 'Lato';
    font-size: 18px;
    color: : #222;
    padding: 5px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
    font-weight: 500;
}