body {
background-color: #bdc3c7;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.size1 {
    background-color:#95a5a6;
	width: 100px;
	height: 100px;
	position: absolute;
   z-index: -1;
    left:550px;
    
}

.size12 {
    background-color:#95a5a6;
	width: 100px;
	height: 100px;
	position: absolute;
   z-index: -1;
    left:650px;
    top:108px;
}
.size21 {
    background-color: #7f8c8d;
	width: 200px;
	height: 200px;
	position: absolute;
   z-index: -1;
    left:450px;
    top:108px;
}

.size3 {
    background-color:  #578780;
	width: 300px;
	height: 300px;
	position: absolute;
   z-index: -1;
    top: 308px;
    left: 350px;
}
.size22 {
    background-color: #ecf0f1;
	width: 200px;
	height: 200px;
	position: absolute;
   z-index: -1;
    left:650px;
    top:208px;
    s
}
.size23 {
    background-color: #ecf0f1;
	width: 200px;
	height: 200px;
	position: absolute;
   z-index: -1;
    left:150px;
    top:208px;
}
.size13 {
    background-color:#798899;
	width: 100px;
	height: 100px;
	position: absolute;
   z-index: -1;
    left:250px;
    top:408px;   
}
.size14 {
    background-color:#798899;
	width: 100px;
	height: 100px;
	position: absolute;
   z-index: -1;
    left:150px;
    top:108px;   
}
.size15 {
    background-color:#798899;
	width: 100px;
	height: 100px;
	position: absolute;
   z-index: -1;
    left:50px;
    top:208px;   
}
.size16 {
    background-color:#798899;
	width: 100px;
	height: 100px;
	position: absolute;
   z-index: -1;
    left:850px;
    top:208px;   
}
.size17 {
    background-color:#D2D7D3;
	width: 100px;
	height: 100px;
	position: absolute;
   z-index: -1;
    left:850px;
    top:308px;   
}
.size24 {
    background-color: #7f8c8d;
	width: 200px;
	height: 200px;
	position: absolute;
   z-index: -1;
    left:650px;
    top:408px;
}
.size17 {
    background-color: #C0D4E2;
	width: 200px;
	height: 200px;
	position: absolute;
   z-index: -1;
    left:150px;
    top:508px;
}
.size17 p {
    font-family: sans-serif;
    color: #575757;
    padding-left: 2.2px;
}
.size18 {
    background-color:#8595BD;
	width: 100px;
	height: 100px;
	position: absolute;
   z-index: -1;
    left:850px;
    top:308px;   
}
.size19 {
    background-color:#8595BD;
	width: 100px;
	height: 100px;
	position: absolute;
   z-index: -1;
    left:50px;
    top:508px;   
}
.size20 {
    background-color:#8595BD;
	width: 100px;
	height: 100px;
	position: absolute;
   z-index: -1;
    left:350px;
    top:1008px;   
}
.size21 {
    background-color: #527F6C;
	width: 200px;
	height: 200px;
	position: absolute;
   z-index: -1;
    left:350px;
    top:608px;
}
.size121 {
    background-color: #527F6C;
	width: 200px;
	height: 200px;
	position: absolute;
   z-index: -1;
    left:450px;
    top:108px;
}